@import url(./core.css);
@import url(./common.css);

body{width: 100%; height: 100%; overflow-x: hidden;}
.color01 {color: #3481dc;}

/* * {outline: 1px solid red;} */

/*-----------section01---------------------*/

#mainpage {width: 100%; height: 50vw;}

.main_bg {
    width: 100%; height: 50vw; position: absolute; top: 0; 
    display: flex; flex-direction: column; justify-content: space-between;
    background: url(../images/mainImg1.jpg) no-repeat center/cover;
}
.main_txt {width: 80%; margin: 0 auto; font-size: 3.5rem; color: #fff; font-weight: bold;}
.main_txt span {color: #a9faff;}
.main_txt p {font-size: 1.6rem; font-weight: normal;}

.main_bot {width: 80%; margin: 0 auto; display: flex; position: relative; bottom: 0;}
.main_bot div {
    width: 33.333333333333333333333%; height: 5vw; 
    display: flex; align-items: center; justify-content: center;
    background-color: rgba(75, 173, 225, .4);  color: #fff; font-size: 1.2rem; line-height: 5vw;
}
.main_bot div img {margin-right: 5%;}
.main_bot div:nth-child(1) {border-right: 1px dotted #fff; box-sizing: border-box;}
.main_bot div:nth-child(2) {border-right: 1px dotted #fff; box-sizing: border-box;}


/*-----------section01---------------------*/

#s01 {
    width: 100%; height: 50vw;
    background: url(../images/mainImg4.jpg) no-repeat center/cover;
    color: #fff;
}
.s01_title {width: 80%; margin: 0 auto; padding: 6% 0 2%; overflow: hidden;}
.s01_title p {font-size: 3rem; font-weight: bold; transform: translateX(-100%); transition: all 0.7s;}
.s01_title span {display: inline-block; font-size: 1.7rem; transform: translateX(-100%); transition: all 1s;}

.s01_cont {width: 80%; margin: 0 auto; display: flex; justify-content: space-between;}
.s01_cont_in {
    width: 24%; height: 25vw;
}
.s01_hover {width: 100%; height: inherit;}
.s01_content_hover {
    width: 100%; height: 25vw;
    display: none; flex-direction: column; align-items: center; justify-content: center;
}
.s01_cont_01 {background: url(../images/Frame01.jpg) no-repeat center/cover;}
.s01_cont_02 {background: url(../images/Frame02.jpg) no-repeat center/cover;}
.s01_cont_03 {background: url(../images/Frame03.jpg) no-repeat center/cover;}
.s01_cont_04 {background: url(../images/Frame04.jpg) no-repeat center/cover;}

.s01_box_01.active {display: flex !important; background-color: rgb(57, 112, 220, .65);}
.s01_box_02.active {display: flex !important; background-color: rgb(57, 112, 220, .65);}
.s01_box_03.active {display: flex !important; background-color: rgb(57, 112, 220, .65);}
.s01_box_04.active {display: flex !important; background-color: rgb(57, 112, 220, .65);}

.s01_content {    
    width: 100%; height: 25vw; background-color: rgba(255, 255, 255, 0.3);
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}

.s01_co01.active {display: none !important;}
.s01_co02.active {display: none !important;}
.s01_co03.active {display: none !important;}
.s01_co04.active {display: none !important;}

.s01_txt01 {font-size: 1rem; color:#fff; text-shadow: 2px 2px 2px gray; transform: translateY(200%); transition: all 1.5s;}
.s01_txt02 {font-size: 1.8rem; color:#fff; text-shadow: 2px 2px 2px gray; font-weight: bold; transform: translateY(200%);transition: all 2s;}

.s01_title_in {font-size: 1.4rem; margin-bottom: 10%;}
.s01_txt {font-size: 0.9rem; margin-bottom: 20%;}
.s01_button {
    background-color: #fff; padding: 2% 10%; border-radius: 40px;
    color: #3481dc; cursor: pointer;
}




section{width: 100%; height: 50vw; display: flex;}

/* 페이지 3 */
#section3{display: flex; flex-direction: column; background: url('../images/mainImg3.jpg') no-repeat center/cover;}
#section3>.section3Txt{width: 80%; margin: 0 auto; text-align: right; color: #fff;}
/* header 값 계산해서 빼기 */
#section3>.section3Txt>h2{transition: all 1s; font-size: 3rem; margin: 0; padding: 5.5% 0 0; transform: translateX(100%);}
#section3>.section3Txt>h4{transition: all 1.8s; font-size: 1.7rem; margin: 0; padding: 0 0 3%; transform: translateX(100%);}

#section3>#section3Wrap{
    text-align: center; display: flex; justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr; width: 80%; height: 70%; margin: 0 auto; 
    color: #444; 
}
:root{ --bg-change: transparent}
#section3Wrap>.section3item{
    margin-top: 3%;
    overflow: hidden; width: 28%; height: 23vw; 
    display: flex; flex-direction: column; justify-content: center;
    background: var(--bg-change);
    transition: all 0.7s;
}
.section3item {width: 24%;}
.item1.active {filter: invert(100%); cursor: pointer; transform: scale(110%); background-color: rgb(255, 149, 0, .60) !important;}
.item2.active {filter: invert(100%); cursor: pointer; transform: scale(110%); background-color: rgb(255, 149, 0, .60) !important;}
.item3.active {filter: invert(100%); cursor: pointer; transform: scale(110%); background-color: rgb(255, 149, 0, .60) !important;}



.section3item>div>img{transition: all 1.5s; opacity: 0;}
.section3item>p{transition: all 1.2s; padding-top: 6%; font-size: 1.2rem; line-height: 150%; transform: translateY(200%);}
.section3item>p>span{padding: 3% 0 8%; font-weight: 800; font-size: 2rem; display: block; font-weight: bold;}

/* 페이지 4 */
#section4{display: flex; flex-direction: column; background: url('../images/Frame.jpg') no-repeat center/cover;}
#section4>.section4Txt{width: 80%; margin: 0 auto; text-align: center; color: #fff; overflow: hidden;}
#section4>.section4Txt>h2{transition: all 1s; font-size: 3.5rem; margin: 0; padding: 8% 0 0; transform: translateY(-100%);}
#section4>.section4Txt>h4{transition: all 1.5s; font-size: 2rem; margin: 0; padding: 0 0 5%; transform: translateY(100%);}
#section4>#section4Wrap{display: flex; justify-content: space-between; width: 80%; margin: 0 auto; height: 42%;}
#section4>#section4Wrap>.section4item{transition: all 2s; opacity: 0; padding: 1%; width: 22%; color: #fff; background-color: rgba(255, 255, 255, 0.4); height: 100%;}
.section4item:first-child{transform: translateX(-100%);}
.section4item:nth-child(2){ transform: translateX(-200%);}
.section4item:nth-child(3){ transform: translateX(200%)}
.section4item:last-child{ transform: translateX(100%);}
.section4item>h3{font-size: 1.2rem; font-weight: 500; padding: 15% 0;} 
.section4item>h1{font-size: 1.4rem; padding-bottom: 30%;}


/* 버튼 */
.btn6{
padding: 8% 16%;
margin:10px 4px;
color: #fff;
font-family: sans-serif;
text-transform: uppercase;
text-align: center;
position: relative;
text-decoration: none;
display:inline-block;

}
.btn6::before {
content: '';
position: absolute;
bottom: 50%;
left: 0px;
width: 100%;
height: 3px;
background: #3481dc;
display: block;
-webkit-transform-origin: left top;
-ms-transform-origin: left top;
transform-origin: left top;
-webkit-transform: scale(0, 1);
-ms-transform: scale(0, 1);
transform: scale(0, 1);
-webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.btn6:hover::before {
-webkit-transform-origin: right top;
-ms-transform-origin: right top;
transform-origin: right top;
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
transform: scale(1, 1)
}
.btn6{
border:3px solid transparent; 
-webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
.btn6::before {
content: '';
position: absolute;
left: 0px;
bottom:0px;
z-index: -1;
width: 0%;
height:3px;
background: #3481dc;
box-shadow: inset 0px 0px 0px #3481dc;
display: block;
-webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.btn6:hover::before {
width:100%; z-index: 1;
}

.btn6::after {
content: '';
position: absolute;
right: 0px;
top:0px;
z-index: -1;
width: 0%;
height:3px;
background: #3481dc;
-webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
.btn6:hover::after {
width:100%; z-index: 1;
}
.btn6:hover{
border-left:3px solid #3481dc;
border-right:3px solid #3481dc;
}

/* 사이드 메뉴 */
#sideMenu{transform: translateX(100%); transition: all 0.7s; font-size: 2rem; color: #fff; text-align: center; z-index: 1000; display: flex; flex-direction: column; justify-content: flex-end; position: fixed; top: 0; right: 0; width: 3%; height: 100%; background: #3480dc80;}
.aside_item:not(:last-child):hover{color: #3481dc; animation: aside_hover 1.5s ease-in-out infinite;}
.aside_item span{display: block; font-size: 1rem !important;}
.aside_item:last-child{padding: 40% 0; cursor: pointer;}

@keyframes aside_hover{
    0%{filter: hue-rotate(0deg);}
    100%{filter: hue-rotate(360deg);}
}